<div class="container">
    <div class="jumbotron">
        <h1>Google maps examples</h1>
    </div>
</div>

<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="simple">Simple</a></li>
        <li routerLinkActive="active"><a routerLink="marker-info">Marker info</a></li>
        <li routerLinkActive="active"><a routerLink="geolocation">Geolocation</a></li>
        <li routerLinkActive="active"><a routerLink="multiple-markers">Multiple markers</a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>